@model ICollection<CamadaDeApresentacao.Models.Aluno>

@{
    ViewBag.Title = "Listar";
    Layout = "~/Views/Shared/_MeuLayout.cshtml";
}

@section Toolbar{
    <input type="search" value="Digite o Nome do Aluno" />
    <input type="button" value="Buscar"/>
}



<h2>Tabela de Alunos</h2>

<table>
    <tr>
        <th>AlunoId</th>
        <th>Nome</th>
        <th>Email</th>
    </tr>

    @foreach (var a in @Model)
    {
        <tr>
            <th>@a.Id</th>
            <th>@a.Nome</th>
            <th>@a.Email</th>
        </tr>
    }






</table>

